bc-python-hcl2>=0.3.5
bridgecrew==2.3.102
bridgecrew==2.3.103
bridgecrew==2.3.104
bridgecrew==2.3.105
bridgecrew==2.3.106
bridgecrew==2.3.107
bridgecrew==2.3.108
bridgecrew==2.3.109
bridgecrew==2.3.110
bridgecrew==2.3.111
bridgecrew==2.3.112
bridgecrew==2.3.113
bridgecrew==2.3.114
bridgecrew==2.3.115
bridgecrew==2.3.116
bridgecrew==2.3.117
bridgecrew==2.3.118
bridgecrew==2.3.119
bridgecrew==2.3.120
bridgecrew==2.3.121
bridgecrew==2.3.122
bridgecrew==2.3.123
bridgecrew==2.3.124
bridgecrew==2.3.125
bridgecrew==2.3.126
bridgecrew==2.3.127
bridgecrew==2.3.128
bridgecrew==2.3.129
bridgecrew==2.3.130
bridgecrew==2.3.131
bridgecrew==2.3.132
bridgecrew==2.3.133
bridgecrew==2.3.134
bridgecrew==2.3.135
bridgecrew==2.3.136
bridgecrew==2.3.138
bridgecrew==2.3.139
bridgecrew==2.3.140
bridgecrew==2.3.141
bridgecrew==2.3.142
