bc-python-hcl2>=0.3.5
bridgecrew==2.3.102
bridgecrew==2.3.103
bridgecrew==2.3.104
bridgecrew==2.3.105
bridgecrew==2.3.106
bridgecrew==2.3.107
bridgecrew==2.3.108
bridgecrew==2.3.109
bridgecrew==2.3.110
bridgecrew==2.3.111
bridgecrew==2.3.112
